.favorites {
    background-image: url("https://www.coldstonecreamery.com/assets/img/slides/slider-cupcakes.jpg");
    width: 1534px;
    height: 375px;
    margin-right: 10px;
    color: white;
    margin-bottom: 1px;
}

.text {
    font-size: 1.4em;
    width: 400px;
    height: 120px;
    margin-left: 170px;
    /* margin-top: 150px; */
    padding-top: 250px;
}

// .font {
//     font-size: 4em;
//     font-family: 'Sedgwick Ave Display', cursive;
//     max-height: 45px;
// }

h4 {
    font-family: 'Slabo 27px', serif;
}
p {
    font-family: 'Slabo 27px', serif;
}
